<h1>Mes Locataires</h1>


<% @renters.each do |renter| %>
  <ul>
    <li> 
      <% name = renter.first_name + " " + renter.last_name %>
      <%= link_to name, "renters/#{renter.id}" %>
    </li>
  </ul>
<% end %>
