.dropdawn_new_rental{
    font-size: 16px;
    color: white;
    background-color: #0066CC;
    border-color: darkblue;
    background-image: -moz-linear-gradient(rgba(0,0,0,.2), rgba(255,255,255,.2));
    background-image: -webkit-linear-gradient(rgba(0,0,0,.2), rgba(255,255,255,.2));
    background-image: linear-gradient(rgba(0,0,0,.54), rgba(255,255,255,.4));
    border-radius: 5px;
}