<h1>Mes Locations</h1>

<% a = [] %>
<% @rentals.each do |rental| %>
  <ul>
    <% if a.exclude?(rental.address) %>
      <li>
      <% a << rental.address %>
      <%= link_to rental.address, "rentals/#{rental.id}" %>
      </li>
    <% end %>
  </ul>
<% end %>