<h1> <%= @rental.address %> </h1>

<% @rentals.each do |rental| %>
  <ul>
    <% if rental.address == @rental.address %>
      <li>
      <%= link_to rental.address, "rentals/#{rental.id}" %>
      </li>
    <% end %>
  </ul>
<% end %>