<div class="">
  <br>
  <h1 class="text-center title-home">Follocation</h1>
  <br>
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <%= link_to 'Locataire', new_renter_path, class:"btn btn-primary btn-home-connexion" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <%= link_to "Batiment", new_rental_path, class:"btn btn-primary btn-home-connexion" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <%= link_to "Retour", :back, class:"btn btn-primary btn-home-connexion" %>
      </div>
    </div>
  </div>
</div>