<h1 class="d-flex justify-content-center">Mon Dashboard</h1>
<br>
<br>
<br>
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <%= link_to 'Mes Locataires', renters_path, class:"btn btn-primary btn-home-connexion" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <%= link_to "Mes Batiments", rentals_path, class:"btn btn-primary btn-home-connexion" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <%= link_to "Retour", :back, class:"btn btn-primary btn-home-connexion" %>
      </div>
    </div>
  </div>